[user]
	name = AndreiIonica
	email = 40264929+andrei-io@users.noreply.github.com
	signingkey = 50AB707A70B216C98ADA7906A3D59BEE5036708A
[core]
	editor = subl -w
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[pull]
	rebase = true
[init]
	defaultBranch = main
